In [61]:
import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
import json
from urllib.request import urlopen

from tqdm import tqdm_notebook

import threading

In [62]:
df_debut = pd.read_csv("../data/debut_album_1118.csv")
df_debut.tail()

              artist                 album               genre  single_count
1944            EDEN               vertigo                Rock             3
1945   Nipsey Hussle           Victory Lap  West Coast hip hop             2
1946    Rich the Kid    The World Is Yours                 Rap             3
1947   Myles Kennedy     Year of the Tiger                Rock             0
1948  Fickle Friends  You Are Someone Else               Indie             6

In [3]:
def get_thesource1():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp1['artist'])))):
    
        artist = tmp1['artist'][i]
        album = tmp1['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_1.loc[len(result_1)] = data
        
    return result_1

In [4]:
def get_thesource2():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp2['artist'])))):
    
        artist = tmp2['artist'][i]
        album = tmp2['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_2.loc[len(result_2)] = data
        
    return result_2

In [5]:
def get_thesource3():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp3['artist'])))):
    
        artist = tmp3['artist'][i]
        album = tmp3['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_3.loc[len(result_3)] = data
        
    return result_3

In [6]:
def get_thesource4():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp4['artist'])))):
    
        artist = tmp4['artist'][i]
        album = tmp4['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_4.loc[len(result_4)] = data
        
    return result_4

In [7]:
tmp1 = df_debut.loc[:499]
tmp2 = df_debut.loc[500:999].reset_index(drop=True)
tmp3 = df_debut.loc[1000:1499].reset_index(drop=True)
tmp4 = df_debut.loc[1500:1948].reset_index(drop=True)

In [8]:
result_1 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_2 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_3 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_4 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])

In [9]:
th1 = threading.Thread(target=get_thesource1)
th1.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [10]:
th2 = threading.Thread(target=get_thesource2)
th2.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [11]:
th3 = threading.Thread(target=get_thesource3)
th3.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [12]:
th4 = threading.Thread(target=get_thesource4)
th4.start()

HBox(children=(IntProgress(value=0, max=449), HTML(value='')))

In [14]:
print(result_1.shape)
result_1.head()

(500, 3)

,artist,album,theSource_frequency
0,2Cellos,2Cellos,0
1,Deep Dark Robot,8 Songs About a Girl,0
2,The Young Professionals,"9am to 5pm, 5pm to Whenever\r(09:00 to 17:00, ...",0
3,Flash Bang Grenada,10 Haters,0
4,Her Majesty & the Wolves,111,7

In [15]:
print(result_2.shape)
result_2.head()

(500, 3)

           artist               album theSource_frequency
0         Delilah   From the Roots Up                   0
1  David Lindgren         Get Started                   0
2         PoliÃ§a  Give You the Ghost                   0
3       Monuments              Gnosis                   0
4         Rye Rye      Go! Pop! Bang!                   0

In [16]:
print(result_3.shape)
result_3.head()

(500, 3)

          artist            album theSource_frequency
0   Luke Kennedy    A Time for Us                   2
1  Parasite Inc.  Time Tears Down                   0
2   Alex Hepburn   Together Alone                   0
3         Torres           TORRES                  45
4      ASAP Ferg        Trap Lord                  38

In [17]:
print(result_4.shape)
result_4.head()

(449, 3)

        artist        album theSource_frequency
0  No Devotion   Permanence                   0
1     Galantis     Pharmacy                   1
2        Apink  Pink Season                   0
3     Rifftera  Pitch Black                   0
4  Will Butler       Policy                   1

In [141]:
thesource_article = pd.concat([result_1, result_2, result_3, result_4], ignore_index=True)

In [142]:
print(thesource_article.shape)
thesource_article.head()

(1949, 3)

,artist,album,theSource_frequency
0,2Cellos,2Cellos,0
1,Deep Dark Robot,8 Songs About a Girl,0
2,The Young Professionals,"9am to 5pm, 5pm to Whenever\r(09:00 to 17:00, ...",0
3,Flash Bang Grenada,10 Haters,0
4,Her Majesty & the Wolves,111,7

In [143]:
thesource_article.loc[528, 'artist'] = 'Eve Ai'
thesource_article.loc[528, 'album'] = 'If You Love Me'
thesource_article.loc[1142, 'artist'] = 'Milica Pavlovia'
thesource_article.loc[1142, 'album'] = 'Gover Tela Body Language'
thesource_article.loc[1409, 'artist'] = 'Various Artists'
thesource_article.loc[1409, 'album'] = 'Fresh Filter : Volumn 1'

In [145]:
thesource_article.shape

(1949, 3)

In [146]:
thesource_article.to_csv("../data/buzz_theSource.csv", index=False, encoding="UTF-8")

In [147]:
df = pd.read_csv("../data/buzz_theSource.csv")

In [148]:
df.shape

(1949, 3)

### add to mysql database

In [83]:
import sqlalchemy, pickle
from sqlalchemy import create_engine

In [84]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + pw + "@52.78.44.120/project_rookie")

In [137]:
df.to_sql(name="buzz_theSource", con=engine, if_exists='replace')