In [1]:
import pandas as pd

import requests
from bs4 import BeautifulSoup
import json
from urllib.request import urlopen

from tqdm import tqdm_notebook
import unidecode

import threading

In [2]:
df_debut = pd.read_csv("../data/debut_album_1118-utf8.csv")
df_debut.tail()

,artist,album,genre,single_count,release_date
1946,EDEN,vertigo,NaN,3,19Â JanuaryÂ 2018Â (2018-01-19)
1947,Nipsey Hussle,Victory Lap,West Coast hip hop,2,"February 16, 2018"
1948,Rich the Kid,The World Is Yours,NaN,3,"March 30, 2018"
1949,Myles Kennedy,Year of the Tiger,NaN,0,"MarchÂ 9,Â 2018Â (2018-03-09)"
1950,Fickle Friends,You Are Someone Else,NaN,6,16 March 2018[1]

In [3]:
def get_thesource1():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp1['artist'])))):
    
        artist = tmp1['artist'][i]
        album = tmp1['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_1.loc[len(result_1)] = data
        
    return result_1

In [4]:
def get_thesource2():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp2['artist'])))):
    
        artist = tmp2['artist'][i]
        album = tmp2['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_2.loc[len(result_2)] = data
        
    return result_2

In [5]:
def get_thesource3():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp3['artist'])))):
    
        artist = tmp3['artist'][i]
        album = tmp3['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_3.loc[len(result_3)] = data
        
    return result_3

In [6]:
def get_thesource4():
    
#     df_articles = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
    
    for i in tqdm_notebook(range(len(list(tmp4['artist'])))):
    
        artist = tmp4['artist'][i]
        album = tmp4['album'][i]

        artist_ = artist.replace(" ", "+")
        album_ = album.replace(" ", "+")

        keyword = artist_ + "+" + album_

        page_num = 1
        article_count = 0
    
        while True:
            
            url = 'http://thesource.com/page/' + str(page_num) + '/?s=' + keyword
            response = requests.get(url)
            soup = BeautifulSoup(response.content, "html.parser")
            tmp_tag = soup.find(id = "main")
            
            if soup.find(id = "post-not-found") != None:
                break
            else:
                pass
            
            count = len(tmp_tag.find_all("article"))
            
            article_count += count
            page_num += 1
            
            if article_count > 199:
                break
        
        data = {
            'artist' : artist,
            'album' : album,
            'theSource_frequency' : article_count,
        }
        
#         print(data)
        
        result_4.loc[len(result_4)] = data
        
    return result_4

In [7]:
tmp1 = df_debut.loc[:499]
tmp2 = df_debut.loc[500:999].reset_index(drop=True)
tmp3 = df_debut.loc[1000:1499].reset_index(drop=True)
tmp4 = df_debut.loc[1500:1951].reset_index(drop=True)

In [8]:
result_1 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_2 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_3 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])
result_4 = pd.DataFrame(columns = ['artist', 'album', 'theSource_frequency'])

In [9]:
th1 = threading.Thread(target=get_thesource1)
th1.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [10]:
th2 = threading.Thread(target=get_thesource2)
th2.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [11]:
th3 = threading.Thread(target=get_thesource3)
th3.start()

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [12]:
th4 = threading.Thread(target=get_thesource4)
th4.start()

HBox(children=(IntProgress(value=0, max=451), HTML(value='')))

In [13]:
print(result_1.shape)
result_1.head()

(500, 3)

,artist,album,theSource_frequency
0,2Cellos,2Cellos,0
1,Deep Dark Robot,8 Songs About a Girl,0
2,The Young Professionals,9am to 5pm 5pm to Whenever\r(09:00 to 17:00 17...,0
3,Flash Bang Grenada,10 Haters,0
4,Her Majesty & the Wolves,111,7

In [14]:
print(result_2.shape)
result_2.head()

(500, 3)

           artist               album theSource_frequency
0   Travis Porter          From Day 1                  33
1         Delilah   From the Roots Up                   0
2  David Lindgren         Get Started                   0
3          Polica  Give You the Ghost                   0
4       Monuments              Gnosis                   0

In [15]:
print(result_3.shape)
result_3.head()

(500, 3)

          artist            album theSource_frequency
0      Tim Hicks       Throw Down                   5
1   Luke Kennedy    A Time for Us                   2
2  Parasite Inc.  Time Tears Down                   0
3   Alex Hepburn   Together Alone                   0
4         Torres           TORRES                  45

In [16]:
print(result_4.shape)
result_4.head()

(451, 3)

                        artist            album theSource_frequency
0                   Raz Fresco  Pablo Frescobar                   1
1  Billy Gibbons and The BFG's    Perfectamundo                   0
2                  No Devotion       Permanence                   0
3                     Galantis         Pharmacy                   1
4                        Apink      Pink Season                   0

In [85]:
thesource_article = pd.concat([result_1, result_2, result_3, result_4], ignore_index=True)

In [86]:
print(thesource_article.shape)
thesource_article.head()

(1951, 3)

,artist,album,theSource_frequency
0,2Cellos,2Cellos,0
1,Deep Dark Robot,8 Songs About a Girl,0
2,The Young Professionals,9am to 5pm 5pm to Whenever\r(09:00 to 17:00 17...,0
3,Flash Bang Grenada,10 Haters,0
4,Her Majesty & the Wolves,111,7

In [87]:
def decodeuni(str):
    return unidecode.unidecode(str)

In [88]:
thesource_article['artist'] = thesource_article['artist'].apply(lambda x: unidecode.unidecode(x))
thesource_article['album'] = thesource_article['album'].apply(lambda x: unidecode.unidecode(x))
thesource_article['artist'] = thesource_article['artist'].apply(lambda x : x.replace(",", ""))
thesource_article['album'] = thesource_article['album'].apply(lambda x : x.replace(",", ""))

In [89]:
thesource_article.loc[2, 'album'] = '9am to 5pm 5pm to Whenever'
thesource_article.loc[529, 'album'] = 'If You Love Me'
thesource_article.loc[1143, 'album'] = 'Gover Tela Body Language'
thesource_article.loc[1411, 'album'] = 'Fresh Filter Volumn 1'

In [90]:
thesource_article.shape

(1951, 3)

In [91]:
thesource_article.to_csv("../data/buzz_theSource.csv", index=False, encoding="UTF-8")

In [92]:
df = pd.read_csv("../data/buzz_theSource-utf8.csv")

In [93]:
df.shape

(1951, 3)

### add to mysql database

In [94]:
import sqlalchemy, pickle
from sqlalchemy import create_engine

In [96]:
pw = pickle.load(open("mysql_pw.pickle", "rb"))

In [97]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + pw + "@52.78.44.120/project_rookie")

In [98]:
df.to_sql(name="buzz_theSource", con=engine, if_exists='replace')