In [34]:
import sqlalchemy, pickle
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy.orm import sessionmaker
import MySQLdb
import pandas as pd

In [35]:
# load data

data = pd.read_csv("data/debut_album_1118.csv")
print(data.shape)
data.head()

(1949, 4)

,artist,album,genre,single_count
0,2Cellos,2Cellos,"Cello rock, classical crossover",3
1,Deep Dark Robot,8 Songs About a Girl,"Post-grunge, punk blues",0
2,The Young Professionals,"9am to 5pm, 5pm to Whenever\r(09:00 to 17:00, ...",Electronic,0
3,Flash Bang Grenada,10 Haters,Alternative hip hop,0
4,Her Majesty & the Wolves,111,"Dance, pop",3

# save password as pickle
pw_input = ''
file = open("mysql_pw.pickle", "wb")
pickle.dump(pw_input, file)

In [36]:
pw = pickle.load(open("mysql_pw.pickle", "rb"))

In [41]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + pw + "@52.78.44.120/project_rookie")

In [42]:
engine

Engine(mysql+mysqldb://root:***@52.78.44.120/project_rookie)

In [ ]:
data_2.to_sql(name="debut_album_3", con=engine, if_exists='replace')