In [16]:
import sqlalchemy, pickle
from sqlalchemy import create_engine
import pandas as pd
import unidecode

In [17]:
df = pd.read_csv("../data/scrapy-metacritic-1118.csv", encoding='UTF-8')
print(df.shape)
df.tail()

(10200, 5)

,artist,album,meta,user,date
10195,Former Ghosts,New Love,67.0,tbd,"Nov 9, 2010"
10196,Shipping News,One Less Heartless To Fear,74.0,tbd,"Nov 9, 2010"
10197,The Tallest Man on Earth,Sometimes the Blues is Just a Passing Bird,84.0,8.6,"Nov 9, 2010"
10198,Robert Wyatt,For the Ghosts Within,82.0,tbd,"Nov 9, 2010"
10199,Kid Cudi,"Man on the Moon, Vol. 2: The Legend of Mr. Rager",69.0,8.2,"Nov 9, 2010"

In [18]:
def decodeuni(str):
    return unidecode.unidecode(str)

In [26]:
df['artist'] = df['artist'].apply(decodeuni)

try:
    df['album'] = df['album'].apply(decodeuni)
except AttributeError:
    pass


df['artist'] = df['artist'].apply(lambda x : x.replace(",", ""))

# try:
df['album'] = df['album'].apply(lambda x : str(x).replace(",", ""))
# except AttributeError:
#     pass

In [27]:
df.loc[8, 'album']

'Standards Vol. IV'

In [28]:
df.to_csv("../data/scrapy-metacritic-1118-utf8.csv", encoding='utf-8')

In [29]:
df_2 = pd.read_csv("../data/scrapy-metacritic-1118-utf8.csv")

In [30]:
pw = pickle.load(open("mysql_pw.pickle", "rb"))

In [31]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + pw + "@52.78.44.120/project_rookie")

In [32]:
df_2.reset_index().to_sql(name="rating_meta", con=engine, if_exists='replace')