In [1]:
import sqlalchemy, pickle
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv("../data/scrapy-metacritic-1118.csv", encoding='UTF-8')
print(df.shape)
df.head()

(10200, 5)

                   artist             album  meta user          date
0              Lord Huron         Vide Noir  70.0  7.8  Apr 20, 2018
1           Alexis Taylor   Beautiful Thing  71.0  tbd  Apr 20, 2018
2  Old Crow Medicine Show         Volunteer  85.0  tbd  Apr 20, 2018
3                  Drinks        Hippo Lite  72.0  tbd  Apr 20, 2018
4        A Perfect Circle  Eat the Elephant  80.0  7.0  Apr 20, 2018

In [13]:
pw = pickle.load(open("mysql_pw.pickle", "rb"))

In [14]:
engine = sqlalchemy.create_engine("mysql+mysqldb://root:" + pw + "@52.78.44.120/project_rookie")

In [ ]:
df.reset_index().to_sql(name="rating_meta", con=engine, if_exists='replace')