In [1]:
import numpy as np
import pandas as pd

### Load debut album list

In [2]:
df_debut = pd.read_csv("../data/final_list_debut_album.csv")
print(df_debut.shape)
df_debut.head()

(1092, 4)

               artist            album   genre  single_count
0  Flash Bang Grenada        10 Haters  hiphop             0
1        Aggro Santos  AggroSantos.com  hiphop             3
2                 AKA        Altar Ego  hiphop             4
3             Shlohmo        Bad Vibes  hiphop             0
4      Glasses Malone    Beach Cruiser  hiphop             4

In [3]:
df_debut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 4 columns):
artist          1092 non-null object
album           1092 non-null object
genre           1092 non-null object
single_count    1092 non-null int64
dtypes: int64(1), object(3)
memory usage: 34.2+ KB

### Load target variables labeled list

In [4]:
df_answer_GDB = pd.read_csv("../data/survey/survey-LE-GDB.csv")
print(df_answer_GDB.shape)
df_answer_GDB.head()

(1095, 4)

               artist            album   genre  label_GDB
0  Flash Bang Grenada        10 Haters  hiphop          0
1        Aggro Santos  AggroSantos.com  hiphop          0
2                 AKA        Altar Ego  hiphop          0
3             Shlohmo        Bad Vibes  hiphop          0
4      Glasses Malone    Beach Cruiser  hiphop          0

In [5]:
df_answer_Melo = pd.read_csv("../data/survey/survey-LE-Melo_2.csv")
print(df_answer_Melo.shape)
df_answer_Melo.head()

(1095, 4)

               artist            album   genre  label_Melo
0  Flash Bang Grenada        10 Haters  hiphop           0
1        Aggro Santos  AggroSantos.com  hiphop           0
2                 AKA        Altar Ego  hiphop           0
3             Shlohmo        Bad Vibes  hiphop           0
4      Glasses Malone    Beach Cruiser  hiphop           0

* * * *

### Load buzz

In [6]:
df_buzz_billboard = pd.read_csv("../data/buzz/buzz_billboard.csv")
print(df_buzz_billboard.shape)
df_buzz_billboard.head()

(1951, 3)

                     artist                       album  freq_billboard
0                   2Cellos                     2Cellos               0
1           Deep Dark Robot        8 Songs About a Girl               0
2   The Young Professionals  9am to 5pm 5pm to Whenever               0
3        Flash Bang Grenada                   10 Haters               0
4  Her Majesty & the Wolves                         111               0

In [7]:
df_buzz_genius = pd.read_csv("../data/buzz/buzz_genius.csv")
print(df_buzz_genius.shape)
df_buzz_genius.head()

(1951, 3)

                     artist                       album  freq_genius
0                   2Cellos                     2Cellos            0
1           Deep Dark Robot        8 Songs About a Girl            0
2   The Young Professionals  9am to 5pm 5pm to Whenever            0
3        Flash Bang Grenada                   10 Haters            0
4  Her Majesty & the Wolves                         111            0

In [8]:
df_buzz_theSource = pd.read_csv("../data/buzz/buzz_theSource.csv")
print(df_buzz_theSource.shape)
df_buzz_theSource.head()

(1951, 3)

                     artist                       album  freq_theSource
0                   2Cellos                     2Cellos               0
1           Deep Dark Robot        8 Songs About a Girl               0
2   The Young Professionals  9am to 5pm 5pm to Whenever               0
3        Flash Bang Grenada                   10 Haters               0
4  Her Majesty & the Wolves                         111               7

In [9]:
df_buzz_xxl = pd.read_csv("../data/buzz/buzz_xxl.csv")
print(df_buzz_xxl.shape)
df_buzz_xxl.head()

(1951, 3)

                     artist                       album  freq_xxl
0                   2Cellos                     2Cellos         0
1           Deep Dark Robot        8 Songs About a Girl        14
2   The Young Professionals  9am to 5pm 5pm to Whenever         0
3        Flash Bang Grenada                   10 Haters         0
4  Her Majesty & the Wolves                         111      5423

In [10]:
df_buzz = pd.concat([df_buzz_billboard, df_buzz_genius['freq_genius'], df_buzz_theSource['freq_theSource'], df_buzz_xxl['freq_xxl']], axis=1)

In [11]:
df_buzz.head()

,artist,album,freq_billboard,freq_genius,freq_theSource,freq_xxl
0,2Cellos,2Cellos,0,0,0,0
1,Deep Dark Robot,8 Songs About a Girl,0,0,0,14
2,The Young Professionals,9am to 5pm 5pm to Whenever,0,0,0,0
3,Flash Bang Grenada,10 Haters,0,0,0,0
4,Her Majesty & the Wolves,111,0,0,7,5423

* * * *

### Load rating

In [12]:
df_rating_meta = pd.read_csv("../data/rating/scrapy-metacritic-1118-utf8.csv")
df_rating_meta['rating_meta'] = df_rating_meta['meta']
df_rating_meta.drop(columns=['meta'], inplace=True)

print(df_rating_meta.shape)
df_rating_meta.head()

(10198, 5)

                   artist             album user          date rating_meta
0              Lord Huron         Vide Noir  7.8  Apr 20, 2018          70
1           Alexis Taylor   Beautiful Thing  tbd  Apr 20, 2018          71
2  Old Crow Medicine Show         Volunteer  tbd  Apr 20, 2018          85
3                  Drinks        Hippo Lite  tbd  Apr 20, 2018          72
4        A Perfect Circle  Eat the Elephant    7  Apr 20, 2018          80

In [13]:
df_rating_pitch = pd.read_csv("../data/rating/rating_pitchfork-1118-utf8.csv")
df_rating_pitch['rating_pitch'] = df_rating_pitch['ratings']
df_rating_pitch.drop(columns=['ratings'], inplace=True)

print(df_rating_pitch.shape)
df_rating_pitch.head()

(8747, 5)

,index,artist,album,release_date,rating_pitch
0,0,The National,Boxer (Live in Brussels),21/04/2018,6.0
1,1,Smokepurpp,Bless Yo Trap,21/04/2018,4.8
2,2,Shuggie Otis,Inter-Fusion,21/04/2018,4.6
3,3,Post Animal,When I Think of You in a Castle,21/04/2018,6.9
4,4,John Maus,Addendum,20/04/2018,7.4

In [14]:
df_rating_AOTY = pd.read_csv("../data/rating/rating_AOTY-utf8.csv")
df_rating_AOTY['rating_AOTY'] = df_rating_AOTY['rating']
df_rating_AOTY.drop(columns=['rating'], inplace=True)

print(df_rating_AOTY.shape)
df_rating_AOTY.head()

(8946, 3)

          artist                 album  rating_AOTY
0  Janelle Monae        Dirty Computer           86
1    Post Malone  Beerbongs & Bentleys           53
2        Grouper        Grid of Points           79
3   Speedy Ortiz           Twerp Verse           76
4     Anne-Marie       Speak Your Mind           55

### Import SNS followers

In [15]:
df_sns = pd.read_csv("../data/sns-followers/sns_followers.csv")
print(df_sns.shape)
df_sns.head()

(1095, 7)

,artist,twitter,instagram,facebook,spotify,soundcloud,youtube
0,Flash Bang Grenada,0,0,0,346,0,0
1,Aggro Santos,63771,27415,596562,4675,585,7975
2,AKA,38958,0,0,22298,0,3643764
3,Shlohmo,91790,59340,209063,141268,283539,0
4,Glasses Malone,68417,48745,93741,16402,0,0

### Merge Label

In [16]:
label = pd.merge(df_answer_GDB, df_debut, how='inner', on='artist')

In [17]:
label = pd.merge(label, df_answer_Melo, how='inner', on='artist')

In [18]:
label = label.drop(columns=['album_x', 'genre_x', 'album_y', 'genre_y'])

In [19]:
# label['label_Melo'] = label['label_Melo_y']
# label.drop(columns='label_Melo_y', inplace=True)

In [20]:
label['label'] = label['label_GDB'] + label['label_Melo']

In [21]:
label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1088 entries, 0 to 1087
Data columns (total 7 columns):
artist          1088 non-null object
label_GDB       1088 non-null int64
single_count    1088 non-null int64
album           1088 non-null object
genre           1088 non-null object
label_Melo      1088 non-null int64
label           1088 non-null int64
dtypes: int64(4), object(3)
memory usage: 68.0+ KB

#### final labeling

In [22]:
label['label'] = label['label'].apply(lambda x : 1 if x > 0 else 0)

In [23]:
label = label.drop(columns=['label_GDB', 'label_Melo'])

In [24]:
label.head()

               artist  single_count            album   genre  label
0  Flash Bang Grenada             0        10 Haters  hiphop      0
1        Aggro Santos             3  AggroSantos.com  hiphop      0
2                 AKA             4        Altar Ego  hiphop      0
3             Shlohmo             0        Bad Vibes  hiphop      0
4      Glasses Malone             4    Beach Cruiser  hiphop      0

#### Merge Buzz

In [25]:
label2 = label.merge(df_buzz, how='left')

In [26]:
label2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1088 entries, 0 to 1087
Data columns (total 9 columns):
artist            1088 non-null object
single_count      1088 non-null int64
album             1088 non-null object
genre             1088 non-null object
label             1088 non-null int64
freq_billboard    1058 non-null float64
freq_genius       1058 non-null float64
freq_theSource    1058 non-null float64
freq_xxl          1058 non-null float64
dtypes: float64(4), int64(2), object(3)
memory usage: 85.0+ KB

In [27]:
label2.head()

,artist,single_count,album,genre,label,freq_billboard,freq_genius,freq_theSource,freq_xxl
0,Flash Bang Grenada,0,10 Haters,hiphop,0,0.0,0.0,0.0,0.0
1,Aggro Santos,3,AggroSantos.com,hiphop,0,0.0,0.0,0.0,0.0
2,AKA,4,Altar Ego,hiphop,0,0.0,0.0,1.0,2.0
3,Shlohmo,0,Bad Vibes,hiphop,0,0.0,0.0,0.0,67.0
4,Glasses Malone,4,Beach Cruiser,hiphop,0,0.0,0.0,0.0,4.0

#### Merge rating

In [28]:
label2 = label2.merge(df_rating_AOTY[['artist', 'album', 'rating_AOTY']], how='left')
label2 = label2.merge(df_rating_meta[['artist', 'album', 'rating_meta']], how='left')
label2 = label2.merge(df_rating_pitch[['artist', 'album', 'rating_pitch']], how='left')

#### Merge SNS

In [29]:
label2 = label2.merge(df_sns, how='left')

In [30]:
label2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1091 entries, 0 to 1090
Data columns (total 18 columns):
artist            1091 non-null object
single_count      1091 non-null int64
album             1091 non-null object
genre             1091 non-null object
label             1091 non-null int64
freq_billboard    1061 non-null float64
freq_genius       1061 non-null float64
freq_theSource    1061 non-null float64
freq_xxl          1061 non-null float64
rating_AOTY       61 non-null float64
rating_meta       324 non-null object
rating_pitch      220 non-null float64
twitter           1091 non-null int64
instagram         1091 non-null int64
facebook          1091 non-null int64
spotify           1091 non-null int64
soundcloud        1091 non-null int64
youtube           1091 non-null int64
dtypes: float64(6), int64(8), object(4)
memory usage: 161.9+ KB

In [31]:
label2.columns

Index(['artist', 'single_count', 'album', 'genre', 'label', 'freq_billboard',
       'freq_genius', 'freq_theSource', 'freq_xxl', 'rating_AOTY',
       'rating_meta', 'rating_pitch', 'twitter', 'instagram', 'facebook',
       'spotify', 'soundcloud', 'youtube'],
      dtype='object')

In [32]:
df = pd.DataFrame(label2, columns = ['label', 'artist', 'album', 'genre', 'single_count','freq_billboard',
       'freq_genius', 'freq_theSource', 'freq_xxl', 'rating_AOTY',
       'rating_meta', 'rating_pitch', 'twitter', 'instagram', 'facebook',
       'spotify', 'soundcloud', 'youtube'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 18 columns):
label             1091 non-null int64
artist            1091 non-null object
album             1091 non-null object
genre             1091 non-null object
single_count      1091 non-null int64
freq_billboard    1061 non-null float64
freq_genius       1061 non-null float64
freq_theSource    1061 non-null float64
freq_xxl          1061 non-null float64
rating_AOTY       61 non-null float64
rating_meta       324 non-null float64
rating_pitch      220 non-null float64
twitter           1091 non-null int64
instagram         1091 non-null int64
facebook          1091 non-null int64
spotify           1091 non-null int64
soundcloud        1091 non-null int64
youtube           1091 non-null int64
dtypes: float64(7), int64(8), object(3)
memory usage: 153.5+ KB

In [33]:
df.to_csv("df_baseline.csv", index=False, encoding='utf-8')